body{
  background: rgb(245,245,245);
  color: black;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Montserrat', sans-serif;
  color: #FF473A;
  font-weight: lighter;
  font-size: 25px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #FF473A;
  font-weight: lighter;
  font-size: 18px;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: #FF473A;
}

#banner{
  text-align: center;
  background-image: url("images/background.jpg");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
	font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 70px;
  font-weight: bolder;
}
#banner p {
  color: white;
  opacity: 1;
  font-size: 30px;
  font-weight: lighter;
}

#footer{
  padding: 30px;
  background: #6e2e27;
  color: lightgrey;
}
.card{
  padding: 50px;
  font-weight: lighter;
}

#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}

#scroll {
	padding-top: 50px;
}

#scroll a {
	font-size: 36px;
}